[Unit]
Description=Apple Push Notification Service
After=network.target auditd.service

[Service]
User=root
ExecStart=/usr/bin/xapsd
Restart=on-failure

# Hardening
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
