[Unit]
Description=Apple Push Notification Service
After=network.target auditd.service

[Service]
User=xapsd
Group=nobody
ExecStart=/usr/bin/xapsd
Restart=on-failure

# Hardening
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectSystem=strict
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
RestrictNamespaces=yes
LockPersonality=yes
RestrictSUIDSGID=yes
ReadWritePaths=/var/lib/xapsd

[Install]
WantedBy=multi-user.target
